H1 { font-face: Verdana; }
H2 { font-face: Verdana; }
H3 { font-face: Verdana; }
H4 { font-face: Verdana; }
H5 { font-face: Verdana; }
H6 { font-face: Verdana; }

BODY { font: 10px geneva, verdana, arial, sans-serif; color: #3D3D3D; }

TD, TH, .BOD { font: 10px geneva, verdana, arial, sans-serif; color: #3D3D3D; }
FONT { font: 10px geneva, verdana, arial, sans-serif; }

A:link, A:visited, A:active { font: 10px geneva, verdana, arial, sans-serif; color: #972400; text-decoration: none; }

A:hover { font: 10px geneva, verdana, arial, sans-serif; color: #4F0000; text-decoration: underline; }

select, input, textarea { font: 10px geneva, verdana, arial, sans-serif; color: #3D3D3D; }

A.small:link, A.small:visited, A.small:active { font: 9px geneva, verdana, arial, sans-serif; color: #972400; text-decoration: none; }

A.small:hover { font: 9px geneva, verdana, arial, sans-serif; color: #4F0000; text-decoration: underline; }

A.newsarc:link, A.newsarc:visited, A.newsarc:active { font: 10px geneva, verdana, arial, sans-serif; color: #4E4E4E; text-decoration: underline; }

A.newsarc:hover { font: 10px geneva, verdana, arial, sans-serif; color: #262626; text-decoration: underline; }