<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>New sign in activity on your eBay account</h1>

  <p>Hi %user_name%,</p>
  <p>We noticed recent sign in activity on your account at ebay.com.<br>
    <p>Signed in since<br>
      <strong>Jan 2, 2022 2:03 PM PST</strong></p>
    <p>Device<br>
        <strong>Web browser</strong></p>
  <p>
    Approximate location<br>
    <strong>Gilbert, Arizona, United States</strong><br>
    (may not match your exact location)
  </p>
  <p>If this was you, you’re all set!</p>
  <p>If this wasn’t you, please change your password immediately.</p>
  <hr>
  <p>Email reference id: [#a4837332f716443b813c3782f366b75a#]_[#a4837332f716443b813c3782f366b75a#]</p>

  <p>We don't check this mailbox, so please don't reply to this message. If you have a question, go to Help & Contact.</p>

  <p>eBay sent this message to Jeff Sittler (mindblender). Learn more about account protection. eBay is committed to your privacy. Learn more about our privacy notice and user agreement.</p>

  <p>©1995-2022 eBay Inc., 2025 Hamilton Avenue, San Jose, CA 95125</p>
</body>
</html>