.abs {
	position: absolute
}

.rel {
	position: relative
}

body {
	background-color: #FFFFFF;
	margin: 10px 10px 10px 10px;
	font-family: Verdana;
	font-size: 11px;
}

table, td, tr, th, p, div {
	font-family: Verdana;
	font-size: 11px;
}

a {
	text-decoration: underline;
	color: #354A55;
}

a:hover {
	text-decoration: underline;
	color: #5B7F93;
}

hr {
	margin-top: -5px;
	height: 1px;
	background-color: #999999;
	color: #999999;
	visibility : visible;
}

#header {
	background-color: #FFFFFF;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 40px;
}

#footer {
	background-color: #FFFFFF;
	margin-top: 30px;
	font-size: 10px;
	color: gray;
	padding-left: 4px;
	padding-bottom: 0px;
}

#account {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	text-align: right;
	font-size: 10px;
}

#navigation {
	background-color: #3399FF;
	padding: 2px 0px 2px 0px;
	margin-top: 4px;
	margin-bottom: 15px;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	color: #FFFFFF;
	font-weight: bold;
}

#navigation a {
	background-color: #3399FF;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	color: #FFFFFF;
}

#navigation a:hover {
	background-color: #0066CC;
	padding: 2px 4px 2px 4px;
	text-decoration: none;
	color: #FFFFFF;
}

.breadcrumbs {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-left: 2px;
}

.note {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 30px;
	padding-left: 2px;
}

.heading {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 4px;
	padding-bottom: 2px;
	padding-left: 0px;
	border-bottom: 1px solid #999999;
	font-family: Georgia;
	font-size: 15px;
	font-weight: bold;
	color: #821400;
}

.headingError {
	background-color: #FFFFFF;
	margin-top: 0px;
	margin-bottom: 6px;
	padding-bottom: 2px;
	padding-left: 0px;
	border-bottom: 1px solid #999;
	font-family: Georgia;
	font-size: 15px;
	font-weight: bold;
	color: #FF0000;
}

.icons {
	margin-left: 10px;
	padding: 0px;
}

.listing {
	padding: 0px;
	width: 100%;
}

.listing td {
	padding-left: 2px;
}

.listing th {
	padding-left: 2px;
	background-color: #99CCFF;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	color: #777E82;
	text-align: left;
}

.listing th a {
	text-decoration: none;
}

.listing th a:hover {
	text-decoration: none;
}

.listing .active {
	background-color: #91C9FF;
	color: #FFFFFF;
}

.listing .active a {
	color: #FFFFFF;
	text-decoration: none;
}

.listing .active a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.odd {
	background-color: #DBEDFF;
}

.even {
	background-color: #EEF7FF;
}

.old {
	background-color: #DDDEDF;
}

.new {
	background-color: #F6F5F5;
}

.content {
	padding: 0px;
	width:100%;
}

.content .leftvalue {
	width:15%;
	text-align: right;
}

.content td {
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
}

.content th {
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #99CCFF;
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	color: #777E82;
	text-align: left;
}

.error {
	padding-top: -10px;
	width:100%;
}

.error td {
	color: #FF0000;
	text-align: left;
	padding-left: 2px;
	padding-bottom: 20px;
}

.message {
	padding-top: -10px;
	padding-bottom: 20px;
	width:100%;
}

.message td {
	padding-left: 2px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #99CCFF;
	color: #000000;
	text-align: left;
}

.tableRevision {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	border-right: 1px solid #999999;
}

.revisionTr {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
}

@media print {
	.icons {display:none;}
}

form {
	border-bottom: 1px solid #999999;
}

hr {
	display: none;
}

/* calendar css themes */


.calendar-regular-todo-event, a.calendar-regular-todo-event, a.calendar-regular-todo-event:hover, a.calendar-regular-todo-event:visited, a.calendar-regular-todo-event:active {
	color: #000099;
	}
	
.calendar-broadcast-todo-event, a.calendar-broadcast-todo-event, a.calendar-broadcast-todo-event:hover, a.calendar-broadcast-todo-event:visited, a.calendar-broadcast-todo-event:active {
	color: #663399;
	}
	
.calendar-results-startdate, a.calendar-results-startdate, a.calendar-results-startdate:hover, a.calendar-results-startdate:visited, a.calendar-results-startdate:active {
	color: #006600;
	}
	
.calendar-results-duedate, a.calendar-results-duedate, a.calendar-results-duedate:hover, a.calendar-results-duedate:visited, a.calendar-results-duedate:active {
	color: #990000;
	}	

.calendar-blockout-line{
	background-color: #999999;
	}
	
.calendar-regular-event{
	border-top: 1px solid #0033CC;
	border-bottom: 1px solid #0033CC;
	border-left: 1px solid #0033CC;
	border-right: 1px solid #0033CC;
	margin-bottom: 3px;
	}
	
.calendar-broadcast-event{
	border-top: 1px solid #663399;
	border-bottom: 1px solid #663399;
	border-left: 1px solid #663399;
	border-right: 1px solid #663399;
	margin-bottom: 3px;
	}
.ganttChart {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 95%;
}